* {
  font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-fluid {
  margin: 30px 10px;
  text-align: center;
}

.spacer {
  padding: 10px;
}

.btn {
  width: 300px;
}

.footer {
  font-size: small;
}
