<div class="container-fluid">
  <img src="../assets/images/hottie.png" class="rounded-circle" alt="Hottie" width="120">
  <div class="spacer"></div>
  <h4>Hi, my name is <span class="badge badge-secondary">MICHELLE CRISTINE SANTOS FALLAR</span></h4>
  <h4>My referral code is <span class="badge badge-secondary">1111318880</span></h4>
  <div class="spacer"></div>
  <div>
    We now deliver to your homes for safety and convenience 👌👌👌<br/>
    Share your HAPPINESS with others TODAY
  </div>
  <div class="spacer"></div>
  <div class="toktok">
      <button class="btn btn-primary" (click)="goToktok()">
        <img
          src="https://is2-ssl.mzstatic.com/image/thumb/Purple124/v4/3f/59/23/3f5923dd-eb0b-e79e-a646-5efcb2658a2b/source/512x512bb.jpg"
          class="rounded" alt="Toktok delivery service" width="60"><br/>
        Delivery Service<br/><strong>TOKTOK DELIVERY</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="mang-boks">
    <button class="btn btn-primary" (click)="goMangBoks()">
      <img src="https://mangboks.ph/assets/img/fb-image.jpg" class="rounded" alt="Mang Bok's" width="100">&nbsp;<br/>
      Oks na Oks<br /><strong>MANG BOKS</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="boy-bondat">
    <button class="btn btn-primary" (click)="goBoyBondat()">
      <img src="https://boybondat.ph/assets/img/bb-logo.png" class="rounded" alt="Boy Bondat"
        width="100">&nbsp;<br />
      Come home to the taste that takes you home<br /><strong>BOY BONDAT</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="siomai-king">
    <button class="btn btn-primary" (click)="goSiomaiKing()">
      <img src="https://pbs.twimg.com/profile_images/1292132205750362112/CG6beIbp_400x400.jpg" class="rounded" alt="Siomai King" width="70">&nbsp;<br />
      Ang Hari ng Siomai<br /><strong>SIOMAI KING</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="copper-mask">
    <button class="btn btn-primary" (click)="goCoppermask()">
      <img src="https://coppermask.ph/assets/img/coppermask-logo.png" class="rounded"
        alt="Coppermask" width="200">&nbsp;<br />
      Double protection with style (New enclosed filter)<br /><strong>COPPERMASK</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="ninja-ion">
    <button class="btn btn-primary" (click)="goNinjaion()">
      <img src="https://ninjaph.com/cpshop/assets/img/fb-image.jpg" class="rounded" alt="Ninja Ion"
        width="200">&nbsp;<br />
      Personal air purifier<br /><strong>NINJA ION</strong></button>
  </div>
  <div class="spacer"></div>
  <div class="footer">
    Copyright &copy; BENJSOFT. All rights reserved 2021.
  </div>
</div>
